body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	background: url('../img/pattern.png') center no-repeat fixed;
}

#first {
	margin: 0 0;
	width: 100%;
	height: 100%;
	/*background: rgba(255,255,255,0.5);*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#first .content {
	/*max-width: 700px;*/
	text-align: center;
}

#second .content {
	margin: 0 auto;
	width: 60%;
	/*max-width: 700px;*/
	text-align: justify;
	background: white;
	padding: 20px 40px;
	line-height: 1.5em;
}

#second .content a, #second .content a:visited {
	color: blue;
}

.content {
	margin: 0 auto;
	max-width: 700px;
}

#third {
	padding: 50px;
	text-align: center;
}

.button {
	background: rgba(255, 255, 255, 0.4);
	color: black;
	padding: 10px;
	text-decoration: none;
	border: 1px solid transparent;
	transition: .1s linear;
}

.button:hover {
	background: none;
	border: 1px solid white;
	text-decoration: none;
	color: white;
}

#third .content a {
	display: inline-block;
	margin-top: 5px;
}